/* Modal overlay */
.yon-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999999998;
    display: none;
}

.yon-modal-overlay.open {
    display: block;
}

/* Modal dialog */
.yon-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999999;
    background-color: rgb(238, 238, 238);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    display: none;
    padding: 5px;
    min-width: 400px;
    width: auto;
    max-width: 700px;
    overflow: visible;
}

.yon-dialog.open {
    display: block;
}

/* Dialog titlebar */
.yon-dialog-titlebar {
    margin: 0 auto 5px auto;
    cursor: move;
    background: rgb(204, 204, 204);
    border-radius: 3px;
    border: 1px solid rgb(233, 233, 233);
    color: rgb(51, 51, 51);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    padding: 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
}

.yon-dialog .editor-buttons {
    width: 100%;
    padding-top: 5px;
}

.yon-dialog .editor-buttons .inner {
    width: auto;
    display: table;
    margin: 0 auto;
}

.yon-dialog input[type=text] {
    font-weight: normal;
    background: rgb(255, 255, 255) none;
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-radius: 0 3px 3px 0;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 1px 0 inset;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    cursor: auto;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 30px;
    letter-spacing: normal;
    line-height: 18px;
    margin: 0;
    padding: 5px 10px;
    text-align: start;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    transition-duration: 0.15s, 0.15s;
    vertical-align: middle;
    flex: 1;
    min-width: 200px;
    word-spacing: 0;
}

.yon-dialog button {
    align-items: flex-start;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 30px;
    letter-spacing: normal;
    line-height: 18px;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    vertical-align: middle;
    white-space: nowrap;
    min-width: 60px;
    word-spacing: 0;
    font-size: 12px !important;
}

.yon-dialog button#save {
    background: rgb(66, 139, 202) linear-gradient(rgb(66, 139, 202) 0, rgb(45, 108, 162) 100%) repeat-x;
    border: 1px solid rgb(43, 102, 154);
    box-shadow: rgba(255, 255, 255, 0.14902) 0 1px 0 0 inset, rgba(0, 0, 0, 0.0745098) 0 1px 1px 0;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
}

.yon-dialog #cancel, .yon-dialog #test {
    background: rgb(255, 255, 255) linear-gradient(rgb(255, 255, 255) 0, rgb(224, 224, 224) 100%) repeat-x;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(255, 255, 255, 0.14902) 0 1px 0 0 inset, rgba(0, 0, 0, 0.0745098) 0 1px 1px 0;
    color: rgb(51, 51, 51);
    text-shadow: rgb(255, 255, 255) 0 1px 0;
}

.yon-title {
    color: #6B6B6B;
}

.yon-dialog-container {
    border: none !important;
    color: rgb(51, 51, 51) !important;
    display: block !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;
    height: 90px;
    line-height: 20px;
    padding: 5px !important;
    text-align: center !important;
    min-width: 390px !important;
    width: auto !important;
    max-width: 690px !important;
    max-height: none;
    min-height: 0;
}

.yon-btn {
    margin: 0 5px 0 5px !important;
}


.yon-input-group-addon {
    font-weight: normal;
    color: rgb(51, 51, 51);
    cursor: auto;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    width: 70px;
    flex-shrink: 0;
}

.yon-input-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.yon-pull-right {
    float: right !important
}

.yon-pull-left {
    float: left !important
}

.yon-badge {
    border-radius: 2.625px;
    box-sizing: border-box;
    display: inline;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: auto;
    line-height: 10px;
    padding: 2px 6px 3px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    width: auto;
}

.yon-badge.not-available,
.yon-badge.ok {
    display: none;
}

.yon-badge.not-available.visible {
    display: inline;
    background-color: rgb(217, 83, 79);
    color: rgb(255, 255, 255);
}

.yon-badge.ok.visible {
    display: inline;
    background-color: rgb(66, 139, 202);
    color: rgb(255, 255, 255);
}

.yon-test {
    margin: 5px auto 5px auto;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
    border: 1px dashed #ccc;
    min-height: 50px;
    padding: 8px;
    box-sizing: border-box;
    background: no-repeat center;
}

.yon-test.visible {
    display: flex;
}

.yon-test-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.test-label-container {
    font-size: 14px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 95%;
    text-align: center;
    margin: 0 auto 5px auto;
    padding: 0 10px;
    box-sizing: border-box;
    max-height: 42px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    word-break: break-word;
}


.yon-input-error {
    background-color: rgb(255, 231, 231) !important;
}

