.yon-dialog {
    position: absolute;
    z-index: 999999999;
    background-color: rgb(238, 238, 238) !important;
    box-shadow: rgb(238, 238, 238) 1px 2px 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: rgb(238, 238, 238);
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    display: block;
    font-size: 14px;
    height: 249px;
    outline: rgb(229, 151, 0) auto 5px;
    padding: 5px;
    position: absolute;
    width: 400px;
    z-index: 999999999;
    overflow: visible;
}

.yon-dialog .ui-dialog-titlebar {
    margin: 0 auto;
    cursor: move;
    background: rgb(204, 204, 204) none !important;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-radius: 3px;
    border: 1px solid rgb(233, 233, 233);
    color: rgb(51, 51, 51) !important;
    direction: ltr;
    display: block !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: normal;
    height: 20px;
    line-height: 20px !important;
    padding: 0 !important;
    text-align: center;
    width: 393px;

}

.yon-dialog .ui-dialog-title {
    float: none !important;
    color: rgb(51, 51, 51);
    cursor: move;
    direction: ltr;
    display: inline;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: auto;
    line-height: 20px;
    text-align: center;
    width: auto;
}

.yon-dialog .editor-buttons {
    width: 100%;
    padding-top: 5px;
}

.yon-dialog .editor-buttons .inner {
    width: auto;
    display: table;
    margin: 0 auto;
}

.yon-dialog input[type=text] {
    font-weight: normal;
    background: rgb(255, 255, 255) none;
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-radius: 0 3px 3px 0;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 1px 0 inset;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    cursor: auto;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 30px;
    letter-spacing: normal;
    line-height: 18px;
    margin: 0;
    padding: 5px 10px;
    text-align: start;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    transition-duration: 0.15s, 0.15s;
    vertical-align: middle;
    width: 300px !important;
    word-spacing: 0;
}

.yon-dialog button {
    align-items: flex-start;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 30px;
    letter-spacing: normal;
    line-height: 18px;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 60px;
    word-spacing: 0;
    font-size: 12px !important;
}

.yon-dialog button#save {
    background: rgb(66, 139, 202) linear-gradient(rgb(66, 139, 202) 0, rgb(45, 108, 162) 100%) repeat-x;
    border: 1px solid rgb(43, 102, 154);
    box-shadow: rgba(255, 255, 255, 0.14902) 0 1px 0 0 inset, rgba(0, 0, 0, 0.0745098) 0 1px 1px 0;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
}

.yon-dialog #cancel, .yon-dialog #test {
    background: rgb(255, 255, 255) linear-gradient(rgb(255, 255, 255) 0, rgb(224, 224, 224) 100%) repeat-x;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(255, 255, 255, 0.14902) 0 1px 0 0 inset, rgba(0, 0, 0, 0.0745098) 0 1px 1px 0;
    color: rgb(51, 51, 51);
    text-shadow: rgb(255, 255, 255) 0 1px 0;
}

.yon-title {
    color: #6B6B6B;
}

.yon-dialog-container {
    border: none !important;
    color: rgb(51, 51, 51) !important;
    display: block !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;
    height: 90px;
    line-height: 20px;
    padding: 5px !important;
    text-align: center !important;
    width: 390px !important;
    max-height: none;
    min-height: 0;
}

.yon-btn {
    margin: 0 5px 0 5px !important;
}

.yon-dialog .ui-dialog-titlebar-close {
    display: none
}

.yon-input-group-addon {
    font-weight: normal;
    color: rgb(51, 51, 51);
    cursor: auto;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    width: 70px;
}

.yon-input-group {
    display: table;
}

.yon-pull-right {
    float: right !important
}

.yon-pull-left {
    float: left !important
}

.yon-badge {
    border-radius: 2.625px;
    box-sizing: border-box;
    display: inline;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: auto;
    line-height: 10px;
    padding: 2px 6px 3px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    width: auto;
}

.yon-badge.not-available {
    background-color: rgb(217, 83, 79);
    color: rgb(255, 255, 255);
}

.yon-badge.ok {
    background-color: rgb(66, 139, 202);
    color: rgb(255, 255, 255);
}

.yon-test {
    margin: 5px auto 5px auto;
    display: table;
    width: 300px;
    border-radius: 3px;
    border: 1px dashed #ccc;
    vertical-align: middle;
    height: 80px;
    background: no-repeat center;
}

.yon-test-inner {
    vertical-align: middle;
    display: table-cell;
    margin-top: 10px;
    height: 25px;
}

.test-label-container {
    font-size: 14px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 280px;
    text-align: center;
    margin: 0 auto;
}

.ui-widget-content .ui-icon {
    background-image: none !important;
}

.yon-input-error {
    background-color: rgb(255, 231, 231) !important;
}

#yon-edit-rule .row {
    max-width: 378px !important;
    min-width: 378px !important;
}