body {
    background-color: #f2f2f2;
}

#container {
    max-width: 100%;
    min-width: 600px;
    background-color: #eee;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

a, a:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
    line-height: 30px;
}

#existing-rules {
    border: 1px dashed #ccc;
    border-radius: 5px;
    padding: 5px;
}

.rule-buttons > button.btn:hover {
    background-color: #ccc;
}

.rule-buttons > button.btn {
    margin-left: 1px !important;
}

.rule-buttons > button.btn, button.clone, button#create:hover {
    background-color: #ccc;
}

.rule-buttons > button.btn, button.clone, button#create {
    background-color: rgb(221, 221, 221);
}

.rule-buttons {
    margin-top: 1px;
}

.draggable {
    z-index: 999;
    cursor: move;
    text-shadow: 1px 1px #ccc;
    box-shadow: 1px 1px 2px 1px #ccc;
    background: #f2f2f2;;
}

div.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #428bca;
}

div.value {
    overflow: hidden;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

button#create {
    margin-top: 2px;
    margin-bottom: 2px;
}

button#save {
    margin-top: 2px;
    margin-bottom: 2px;
}

button.delete {
    background-color: rgb(221, 204, 204);
}

.input-error {
    background-color: rgb(255, 231, 231);
}

.editor-buttons button {
    width: 60px;
}

.rule-buttons-more {
    display: none;
    margin-top: 2px;
    border-radius: 3px;
}

.rule-control.edit a, .rule-control.edit button.edit {
    color: #8F0000;
}

.input-group-addon {
    min-width: 70px;
    text-align: left;
}

#edit-rule-div {
    display: none;
}

/*Bootstrap columns without spaces*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 10px;
    padding-left: 10px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.rule-control {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 13px;
}

.rule-control.odd {
    background: rgb(238, 238, 238);
}

.rule-control.even {
    background: rgb(226, 226, 226);
}

.table.history tbody {
    font-size: 13px;
}

.badge.new {
    font-size: 9px;
    background-color: #428bca;
}

.history-cell {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (-webkit-min-device-pixel-ratio: 0) {
    .history-cell {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

.favicon {
    margin-bottom: 2px;
    opacity: 0.8;
    width: 16px;
    height: 16px;
}

.favicon.hover {
    opacity: 1;
}